<ion-header>
  <ion-navbar>
    <ion-title>
      TEAM
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <div width="100%" style="background-color: white" *ngFor="let teste of testes">

  <table >
   <tr>

       <td> <div class="equipa" ></div><div class="equipa" >{{teste.name}}</div></td>

     

        <td> <div class="equipa" ></div><div class="equipa" >{{teste.founded}}</div></td>

       

   </tr>
  
</table>
</div>
</ion-content>
