page-home {
background-image: url('back.png');

.equipo {
	color: black;
}

.label {
   margin: 0;
}

.item-inner {
   padding-right: 0px!important;
}

.league {
	background-color: #9ca3a3;
	color: white;
	height: 35px;
color: white;
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

.content {border-radius: 9px 9px 0 0;
	background-color: #36373B;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase
}
.inserted-svg-logo{ width:100px;height: 60px; }
div.inserted-svg-logo svg { max-width:100%; }

}

.mydate {
	background-color:rgb(183,172,44);
	margin:10px;
	border-radius:12px;
	color:#000;
	font-weight: bolder;
	font-size:18px;
}
