

<ion-content  style="background-color:green;">
<BR><BR>
<div class="content">MATCHS DU JOUR</div>
<div>
  <ion-item>
    <ion-label>Match time</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="YYYY-MM-DD" [(ngModel)]="matchDate" (ionChange)="changeDate()" class="mydate"></ion-datetime>
  </ion-item>
</div>
 <div width="100%" style="background-color: white" *ngFor="let key of keys">
   <div class="league"><div>{{testes[key].country}} {{testes[key].league_name}} </div></div>
  <table *ngFor="let teste of testes[key].items">
    <tr>
      <td> 
        <div class="equipo" ></div>
        <div style="" class="equipo" (click)="openPage(teste.localTeam['data'].id)">{{teste.localTeam['data'].name}}</div>
      </td>
      <td> 
        <div class="equipo" >
        </div><div class="equipo" >{{teste.scores.localteam_score}}</div>
      </td>
-     <td> 
        <div class="equipo" ></div>
        <div class="equipo" >{{teste.scores.visitorteam_score}}</div>
      </td>
      <td *ngIf="teste.visitorTeam['data'].name"> 
        <div class="equipo" ></div>
        <div class="equipo" >{{teste.visitorTeam['data'].name}}</div>
      </td>
      <td> 
        <div class="equipo" ></div>
        <div class="equipo" >{{getHM(teste.time['starting_at'].time)}}</div>
      </td>
      <br><br>
   </tr>
</table>
</div>

</ion-content>


<!-- 
to avoid the confusing,ichanged code style. are u ok?
show me api doc, i want to see date format
-->


